.message {
    display: flex;
    flex-direction: column;
}
.textContainer{
    display:flex;
    align-items: center;
}

 .messageText {
    display: flex;
    border-radius: 50rem;
    overflow: hidden;
    padding: 10px 1.5rem;
    height: 80%;
    line-height: 1.3rem;
    

 }
.message:nth-child(odd) {
    padding-left: 20%;
    align-self: end;
    
}

.message:nth-child(odd) img{
    display: none;
}
.message:nth-child(even) {
    display: flex;
    align-self:baseline;
    flex-wrap: wrap;
}

.MessageDate {
   padding: 2px;
}
.message:nth-child(odd) .MessageDate{
    text-align: right;
    padding-right: 5px;
    
}
.message:nth-child(odd) .messageText{
    background-color: rgb(224, 224, 224);
    
}

.message:nth-child(even) .messageText{
    background-color:rgb(60, 65, 84);
    color: aliceblue;
    align-items: center;
    max-width: 80%;
    
}