

.search-panel {
    padding: 15px;
    background-color: rgb(245, 245, 245);
    border-bottom: rgb(215, 215, 215) solid 1px;
    
}


.search-form {
    
    font-size: 1rem;
    border-radius: 40px;
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: rgb(215, 215, 215) solid 1px;
}