

.search-panel {
    padding: 20px;
    background-color: rgb(215, 215, 215);
    border-bottom: grey solid 1px;
    
}


.search-form {
    
    font-size: 1rem;
    border-radius: 40px;
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: grey solid 1px;
}