.chatbox-wrapper {
    height: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    
    background-color: white;
    border-bottom: rgb(215, 215, 215) solid 1px;
    bottom: 0;
}

.chatbox-wrapper div:last-child {
    scroll-snap-align: end;
}
    .messagesWrapper{
        
      
        max-height: 500px;
    }

    .messageContainer {
        
    display: flex;
    max-width: 100%;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;
    

}
