.rightPosition {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    align-self: end;

}
.leftPosition {
    display: flex;
    flex-direction: column;
    display: flex;
    align-self:baseline;
    flex-wrap: wrap;
}
.textContainer{
    display:flex;
    align-items: center;
    margin: 10px;
}

 .messageText {
    display: flex;
    border-radius: 50rem;
    overflow: hidden;
    padding: 10px 1.5rem;
    height: 80%;
    line-height: 1.3rem;
 }

.rightPosition img{
    display: none;
}



.MessageDate {
   padding: 2px;
}
.rightPosition .MessageDate{
    text-align: right;
    padding-right: 5px;
    
}
.rightPosition .messageText{
    background-color: rgb(224, 224, 224);
    
}

.leftPosition .messageText{
    background-color:rgb(60, 65, 84);
    color: aliceblue;
    align-items: center;
    max-width: 80%;
    
}